<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="1" name="ChromeTest">
	  <parameter name="browser" value="Chrome"/>
	  <classes>
      <class name="pkgTest.UITest"/>

    </classes>
  </test> <!-- Test -->
  
  <test thread-count="1" name="EdgeTest">
	  <parameter name="browser" value="MSEdge"/>
	  <classes>
      <class name="pkgTest.UITest"/>

    </classes>
  </test> <!-- Test -->
  <listeners>
	  <listener class-name="pkgTest.CustomListener"></listener>
	  <listener class-name="pkgTest.AnnotationTransformer"></listener>
  </listeners>
  
</suite> <!-- Suite -->
